.analytics-insights {
  padding-top: 6rem;

  .container {
    .row {
      justify-content: center; 
    }

    .chart-container,
    .closet-chart-container {
      width: 400px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto; 
    }
  }
}
