.password-card-container {
    background-color: #4C4C4C;
    position: relative;
    display: flex;
    flex-direction: column;

    .chagne-passwrod-submit-btn {
        position: absolute;
        background-color: black;
        color: white;
        border: none;
        top: 95%;
        right: 30%;
        width: 200px;
        font-size: 1rem;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        @media (max-width: 768px) {
            width: 150px;
            font-size: 0.875rem;
        }

        @media (max-width: 576px) {
            width: 120px;
            font-size: 0.75rem;
            margin: 0;
        }
    }

    @media (max-width: 576px) {
        .card {
            margin: 0;
        }
    }
}
.card {
    width: 80%;
    padding: 1rem 2rem 2rem 2rem;
}
.password-card-container .btn-link {
   
    top: 72% !important;
}
.change-password-container {
    padding-top: 10rem !important;
  
}

.change-password-container .container {
    padding-top: 0rem !important;
  
}

.change-password-container {

    padding-bottom: 2rem;

    .card {
        width: 100%;
        max-width: 500px !important;
        background-color: #4C4C4C;
    }
}