.closet-management-container{
    padding-top: 6rem;
}
    @media (max-width: 768px) {
  
      .closet-management-container {
        padding-top: 13rem !important;
    }
    .close-management-container {
      padding-top: 13rem !important;
  }
      .container {
        max-width: 90%;
        padding-top: 0 !important;
  
        .row {
          gap: 1rem;
        }
  
        .card-body {
          padding: 1rem;
  
          img {
            width: 45px;
            height: 40px;
          }
  
          h4 {
            font-size: 1.2rem;
          }
        }
      }
    }
  
    /* Mobile view adjustments */
    @media (max-width: 576px) {
   
  
      .container {
        max-width: 100%;
        padding: 0 1rem;
  
        .row {
          gap: 0.5rem;
        }
  
        .card-body {
          padding: 0.8rem;
  
          img {
            width: 40px;
            height: 35px;
          }
  
          h4 {
            font-size: 1rem;
          }
        }
      }
    }
  