.close-management-container {
    padding-top: 6rem;
  
    @media (max-width: 768px) {
      padding-top: 5rem;
  
      .container {
        max-width: 90%;
        padding: 10px;
  
        .row {
          gap: 1rem;
        }
  
        .card-body {
          padding: 1rem;
  
          img {
            width: 45px;
            height: 40px;
          }
  
          h4 {
            font-size: 1.2rem;
          }
        }
      }
    }
  
    /* Mobile view adjustments */
    @media (max-width: 576px) {
      padding-top: 14rem;
  
      .container {
        max-width: 100%;
        padding: 0 1rem;
  
        .row {
          gap: 0.5rem;
        }
  
        .card-body {
          padding: 0.8rem;
  
          img {
            width: 40px;
            height: 35px;
          }
  
          h4 {
            font-size: 1rem;
          }
        }
      }
    }
  }
  