.help-support-container {
  padding-top: 6rem;

  .container {
    display: block;

    .help-arrow-up {
      background-color: black;
      color: white;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
    }
    .help-content {
      font-size: 18px;
    }

    .accordion-button:focus,
    .accordion-button:not(.collapsed) {
      background-color: transparent;
      box-shadow: none;
    }
  }
}
