.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-50px);
}

.modal.show {
    opacity: 1;
    transform: translateY(0);
}

.modal.fade-in {
    opacity: 1;
}

.modal.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
}