.payment-container {
  padding-top: 6rem;

  .container {
    display: block;
    .payment-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .method {
      background-color: #ececec;
      cursor: pointer;
      transition: all 0.3s ease;
      text-align: start !important;

      &:hover {
        background-color: #ddd;
      }

      span {
        font-size: 18px;
        font-weight: 600;
      }

      img {
        width: 40px;
        height: auto;
      }
    }

    .pay-button {
      background-color: black;
      color: white;
      padding: 10px 0;
      border-radius: 30px;
      font-size: 18px;
      width: 100%;
      max-width: 200px;
      text-align: center;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #333;
      }
    }

    @media screen and (max-width: 768px) {
      .method {
        width: 100%;
      }

      .pay-button {
        width: 100%;
      }
    }
  }
}
