.payment-container {
  padding-top: 6rem;

  .container {
    display: block;
    
    .payment-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .method {
      background-color: #ececec;
      cursor: pointer;
      transition: all 0.3s ease;
      text-align: start !important;
      border: none;

      &:hover {
        background-color: #ddd;
      }

      span {
        font-size: 18px;
        font-weight: 600;
      }

      img {
        width: 40px;
        height: auto;
      }
    }

    .modal-fade-dialog {
      .form-control, 
      .form-select {
        height: 45px !important;

        &:focus, &:focus-visible {
          outline: none !important; 
          box-shadow: none !important;
          border-color: #000 !important;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .method {
        width: 100%;
      }

      .pay-button {
        width: 100%;
      }
    }
  }
}
