.stylist-message-container {
    padding-top: 6rem;

    .container {
        .border {
            border-color: black !important;  // Ensure this color is applied
        }

        .profile-image {
            width: 140px;
            height: 120px;
        }
    }
}
