.stylist-message-container {
    padding-top: 6rem;

    .container {
        .profile-image {
            width: 100px;
            height: 100px;

            .stylist-message-container .border {
                border-color: black !important;
            }
        }

        .name {
            font-weight: bold;
            font-size: 1rem;
        }

        .message {
            color: #555;
        }
    }

}