$primary-color: #000;
$background-color: #f0f0f0;
$font-family: 'Arial, sans-serif';

.reset-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100vw; 
  padding: 0 15px;

  .outside-heading {
    font-family: $font-family;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .reset-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;

    .login-box {
      background-color: #D9D9D9;
      padding: 40px 50px;
      border-radius: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 90%;
      max-width: 500px;

      .card-title {
        font-family: $font-family;
        font-size: 1.4rem;
        margin-bottom: 30px;
      }

      input:focus {
        box-shadow: none;
        padding: 12px 17px 12px 15px !important;
      }

      ::placeholder {
        color: #5D5D5D;
      }

      .form-control {
        background-color: #e0e0e0;
        color: $primary-color;
        border: 1px solid $primary-color;
        padding: 12px 17px 12px 15px !important;
      }

      .position-relative {
        position: relative;
      }

      .btn-link {
        position: absolute;
        top: 68%;
        right: 10px;
        transform: translateY(-50%);
        color: $primary-color;
        cursor: pointer;
      }

      .submit-button {
        width: 55%;
        padding: 10px;
        background-color: $primary-color;
        color: #fff;
        font-size: 1rem;
        border: none;
        border-radius: 1.5rem;
        cursor: pointer;
        margin-top: 1rem;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .reset-container {
    padding: 10px;

    .reset-card {
      .login-box {
        padding: 30px;
        width: 95%;
      }

      .outside-heading {
        font-size: 1.75rem;
      }

      .card-title {
        font-size: 1.25rem;
      }

      .form-control {
        font-size: 0.875rem;
        padding: 10px 14px !important;
      }

      .submit-button {
        width: 70%;
        font-size: 0.9rem;
        padding: 8px;
      }
    }
  }
}

@media (max-width: 480px) {
  .reset-container {
    padding: 10px;

    .reset-card {
      .login-box {
        padding: 20px;
        width: 100%;
      }

      .outside-heading {
        font-size: 1.5rem;
      }

      .card-title {
        font-size: 1.1rem;
      }

      .form-control {
        font-size: 0.75rem;
        padding: 8px 12px !important;
      }

      .submit-button {
        width: 80%;
        font-size: 0.8rem;
        padding: 6px;
      }
    }
  }
}
