$primary-color: #000;
$background-color: #D9D9D9;
$font-family: 'Arial, sans-serif';

.forgot-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  padding: 1rem;
}

.forgot-custom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .outside-heading {
    font-size: 1.5rem;
    color: $primary-color;
    margin-bottom: 1rem;
    text-align: center;
  }

  .custom-card.card {
    width: 100%;
    max-width: 600px; // Adjust width here
    background-color: $background-color;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-control {
    background-color: #e0e0e0;
    color: $primary-color;
    border: 1px solid $primary-color;
    padding: 12px 17px 12px 15px !important;
  }

  .form-control:focus {
    box-shadow: none;
  }

  ::placeholder {
    color: #5D5D5D;
  }

  .btn-link {
    position: absolute;
    top: 68%;
    right: 10px;
    transform: translateY(-50%);
    color: $primary-color;
    cursor: pointer;
  }

  .custom-button {
    background-color: black;
  }
}
