$primary-color: #000;
$background-color: #D9D9D9;
$font-family: 'Arial, sans-serif';

.forgot-custom-container {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .outside-heading {
    font-size: 1.5rem;
    color: $primary-color;
    margin-bottom: 1rem;
    text-align: center;
  }

  .custom-card.card {
    width: 100%;
    max-width: 450px; 
    background-color: $background-color;
    margin: 0 auto;

    input:focus {
      box-shadow: none;
      padding: 12px 17px 12px 15px !important;
    }

    ::placeholder {
      color: #5D5D5D;
    }

    .form-control {
      background-color: #e0e0e0;
      color: $primary-color;
      border: 1px solid $primary-color;
      padding: 12px 17px 12px 15px !important;
    }

    .position-relative {
      position: relative;
    }

    .btn-link {
      position: absolute;
      top: 68%;
      right: 10px;
      transform: translateY(-50%);
      color: $primary-color;
      cursor: pointer;
    }

    .custom-button {
      background-color: black;
    }
  }
}

@media (max-width: 768px) {
  .outside-heading {
    font-size: 1.25rem;
  }

  .custom-card.card {
    padding: 1rem;
  }

  .custom-container {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .outside-heading {
    font-size: 1rem;
  }

  .custom-card.card {
    padding: 0.5rem;
  }

  .btn-link {
    right: 5px;
    top: 60%;
  }
}